
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

@media (min-width: 576px) {
    .body-desktop {
      display: grid;
      grid-template-columns: 18% auto;
      grid-row: auto auto auto;
      grid-template-areas: 
      "nav main"
      "nav section"
      "footer section";
    }

        /* grid areas */
    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
    }

    section {
        grid-area: section;
    }

    footer {
        grid-area: footer;
    }
    /* grid areas */
}

@media (min-width: 576px) {
    .card-desktop {
      display: grid;
      grid-template-areas: 
      "card-car-1 card-car-2 card-car-3 card-car-4"
      "card-car-5 card-car-6 card-car-7 card-car-8";
      
    }

        /* grid areas */
        .card-car-1 {
            grid-area: card-car-1;
        }
    
        .card-car-2 {
            grid-area: card-car-2;
        }
    
        .card-car-3 {
            grid-area: card-car-3;
        }
    
        .card-car-4 {
            grid-area: card-car-4;
        }

        .card-car-5 {
            grid-area: card-car-5;
        }

        .card-car-6 {
            grid-area: card-car-6;
        }

        .card-car-7 {
            grid-area: card-car-7;
        }

        .card-car-8 {
            grid-area: card-car-8;
        }
        /* grid areas */
}

@media (min-width: 576px) {
    .nav-car {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
}

@media (min-width: 576px) {
    footer {
      display: flex;
      justify-content: center;
    }
}

@media (min-width: 576px) {
    .img-card {
        width: 5em;
    }
}

/* @media (min-width: 576px) {
    .article-car {
      width: auto;
        
    }
} */

.card-car-1, .card-car-2, .card-car-3, .card-car-4,
.card-car-5, .card-car-6, .card-car-7, .card-car-8 {
    margin: 5px;
}

/* css navbar */

.nav-car {
    background-color: #4B7CCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.nav-car-1 {
    display: flex;
    gap: 10px;
}

.nav-car-1 h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.nav-car-2, .nav-car-1 span {
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

.nav-car-2 select {
    margin-left: 1em;
    padding: 0.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
 


/* css filtro */

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #BFBBB4;
    border-bottom: 1px solid #ccc;
  }
  
  .filter-container label {
    font-weight: bold;
  }
  
  .filter-container select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
 
.card-desktop-n {
    display: flex;
    justify-content: center;
}

/* css card */
.card-car-1, .card-car-2, .card-car-3, .card-car-4,
.card-car-5, .card-car-6, .card-car-7, .card-car-8 {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid purple;
    padding: 20px;
    width: 15em;
}

.img-card {
    width: 15em;
}

.card-car-1, .card-car-2, .card-car-3, .card-car-4,
.card-car-5, .card-car-6, .card-car-7, .card-car-8 {
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 2);
    transform: translateY(-5px);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
  }
  
  /* Opcional: efecto al pasar el mouse */
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
  }
  


  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #223A5E;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
}

